################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Maze/v15
/labyrinth/.vs
/obj/Debug
/Temp
/ProjectSettings
/Packages
/Library/TilemapEditorUserSettings.asset
/Library/SpriteAtlasDatabase.asset
/Library/shadercompiler-UnityShaderCompiler.exe0.log
/Library/ShaderCache.db
/Library/ShaderCache
/Library/ScriptMapper
/Library/ScriptAssemblies
/Library/MonoManager.asset
/Library/metadata
/Library/LibraryFormatVersion.txt
/Library/InspectorExpandedItems.asset
/Library/GridBrush
/Library/EditorUserSettings.asset
/Library/EditorUserBuildSettings.asset
/Library/EditorInstance.json
/Library/CurrentLayout.dwlt
/Library/BuildSettings.asset
/Library/BuildPlayer.prefs
/Library/AssetImportState
/Library/assetDatabase3
/Library/AnnotationManager
/Library/FacebookSDK
